page-sa-consulta {
  .scroll-content > *:last-of-type  {
    margin-bottom: 10px !important;
  }

  .is-invalid {
    border-color: red !important;
    border-bottom: 2px solid red !important;
  }
  .is-valid {
    border-color: green !important;
    border-bottom: 2px solid green !important;
  }

  .title {
    text-align: center;
    font-size: $title_size;
    color: #1f4f9a;
  }

  .sub-title {
    text-align: center;
    font-size: $text_extra_big_size;
    margin: 5px;
    font-weight: 400;
  }

  .padding {
    padding: 0px;
  }

  .btn{
    position: relative;
    bottom: -46px;
  }

  .container-select {
    margin-bottom: 20%;
    ion-label {
      margin: 0;
      font-size: $text_regular_size;
      color: gray;
    }

    ion-select {
      max-width: 300px;
      padding-left: 0;
      border-bottom: 1px solid black;
    }
  }

}
