<ion-header>

  <page-navigator [title]="title"></page-navigator>

</ion-header>

<ion-content >

  <div class="header header-rectangular-container"></div>

  <div class="box-container">

      <ion-list >
        <div class="image img-url"></div>

        <h3 class="title" *ngFor="let item of socio" >{{item}}</h3>

        <h5 class="sub-title" >{{question}}</h5>

        <hr class="soft-line soft-line-black">

        <form  class="container" [formGroup]="profileForm" (ngSubmit)="getDataTime()">

            <div radio-group formControlName="time" [(ngModel)]="radioSelected">

              <ion-item *ngFor="let dataOption of option">
                <ion-label>{{ dataOption.period }}</ion-label>
                <ion-radio item-left [value]=" dataOption.period "></ion-radio>
              </ion-item>

            </div>

            <button  type="submit" class="btn btn-light" [disabled]="!profileForm.valid">
              Continuar
            </button>

        </form>

     </ion-list>
  </div>
</ion-content>
